#root {
  font-family: 'Roboto Mono', monospace;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 25px;
}

#bio {
  margin-top: 1em;
  overflow: hidden;
}

#loading {
  width: 20%;
  height: auto;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 150px;
  opacity: 0.25;
}

#login {
  display: flex;
  justify-content: center;
  .button {
    margin-top: 10px;
    margin-left: 30%;
    width: 40%;
  }
  label {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  img {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  form {
    margin-top: 8%;
  }
}

#button-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

#editSwitch {
  font-size: 0.333em;
  color: #888888;
  display: inline-block;
  margin-left: 1em;
}

#likes {
  margin-left: 760px;
  width: 8%;
  white-space: nowrap;
}

#navbar-right {
  margin-top: 0px;
  margin-left: 500px;
  float: right;
  a {
    margin: 0 8px 0;
  }
}

#review-description-edit {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  min-height: 125px;
}

#review-form {
  label {
    margin-top: 10px;
  }
  textarea {
    font-size: 1em;
  }
}

#selected-item {
  width: 750px;
  height: 750px;
  margin-right: 20px;
}

#selected-item-small {
  width: 100%;
  margin-top: 0;
  img {
    width: 100%;
    margin-top: 0;
  }
}

#signup div label {
  display: inline-block;
  width: 210px;
}

.App {
  text-align: center;
}


.blurry {
  filter: blur(15px);
  -webkit-filter: blur(15px);
}

.button:hover {
  box-shadow: 1px 1px 3px black;
}

.button.large.green {
  width: 350px;
  height: 4em;
  font-size: 1em;
  letter-spacing: 3px;
  padding: 0;
  background-color: #b4ddaa;
}

.button.large.red {
  width: 350px;
  height: 4em;
  font-size: 1em;
  letter-spacing: 3px;
  padding: 0;
  background-color: #9e0334;
}

.button.small.green {
  width: 200px;
  height: 1.666em;
  font-size: 0.666em;
  letter-spacing: 3px;
  padding: 0;
  background-color: #b4ddaa;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button.small.red {
  width: 200px;
  height: 1.666em;
  font-size: 0.666em;
  letter-spacing: 3px;
  padding: 0;
  background-color: #9e0334;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardcontainer {
  margin-left: 8%;
  margin-right: 8%;
  width: 84%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.displayItem div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dropzone {
  width: 350px;
  height: 350px;
  background-color: #e3e7ed;
  justify-content: center;
  text-align: center;
  line-height: 350px;
  font-size: 0.8em;
  margin-right: 20px;
}

.follow-card {
  padding-left: 8px;
  position: relative;
  .follow-image {
    width: 15%;
  }
  .follow-details {
    position: relative;
    overflow: hidden;
    top: 30%;
    width: 82%;
    margin-bottom: 6%;
    margin-left: 1%;
    display: inline-block;
    p {
      display: flex;
      justify-content: space-between;
      font-size: 1.666em;
    }
  }
  div {
    width: 60%;
    display: inline-block;
  }
  img {
    width: 100%;
    border-radius: 50%;
  }
}

.followers {
  font-size: 0.555em;
  font-weight: normal;
  margin-right: 20px;
}

.hoverLinkStyle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.itemcard {
  position: relative;
  width: 210px;
  font-weight: bold;
  .centered {
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 3em;
    color: yellow;
    text-shadow: 1px 1px 1px black;
  }
  img {
    width: 200px;
    height: 200px;
  }
  img:hover {
    opacity: 0.8;
    filter: brightness(50%);
  }
  p {
    margin-top: 2px;
    margin-right: 12px;
  }
}

.itemcard.sold {
  opacity: 0.5;
}

.itemContainerHeader {
  margin-left: 8%;
  margin-bottom: 8px;
}

.itemDetails {
  h2 {
    margin: 0px 0px 20px;
    display: inline-block;
  }
  p {
    margin: 0px;
  }
  span {
  display: block;
  margin-left: 20px;
  }
}

.logo {
  color: #cc1839;
}

.modalContainer {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
}

.modalContent {
  margin-left: 20%;
  margin-top: 70px;
  padding-left: 8px;
  width: 60%;
  min-width: 200px;
  min-height: 80%;
  max-height: 90%;
  background-color: rgba(256,256,256, 1.0);
  overflow-y: scroll;
  .selected {
    font-weight: bold;
    border-bottom: 1px solid black;
  }
  > p {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-bottom: 5px;
  }
}

.newItemForm {
  margin-left: 10%;
  width: 100%;
  input {
    margin-bottom: 5px;
  }
  label {
    margin-bottom: 5px;
    margin-right: 5px;
  }
  li {
    display: inline-block;
    width: 350px;
    margin-left: 2%;
  }
  textarea {
    width: 100%;
    min-height: 100px;
  }
}

.newItemToggle {
  margin-bottom: 20px;
}

.not-allowed:hover {
  cursor: not-allowed;
}

.purchaseCard {
  .purchase-details {
    font-size: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 67%;
    margin-left: 3%;
    display: inline-block;
    margin-bottom: 10%;
  }
  .purchasecard-img {
    display: inline-block;
    width: 30%;
  }
}

.review-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.select-rating span {
  cursor: pointer;
  font-size: 1.5em;
}

.selected {
  font-weight: bold;
}

.showItemToggle {
  margin-left: 20px;
}

.stars-full {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  letter-spacing: -3px;
}

.stars-outline {
  display: inline-block;
  position: relative;
  color: #cc1839;
  font-size: 25px;
  letter-spacing: -3px;
  span {
    margin-left: 4px;
  }
}

.userDetails {
  justify-content: flex-start;
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
}

.userInfoContainer {
  display: flex;
  span {
    float: left;
  }
}

.username {
  font-size: 1.8em;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
  div textarea {
    width: 500px;
  }
  p {
    font-size: 0.5em;
    font-weight: normal;
    max-width: 75%;
    max-height: 80px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.userProfilePhoto {
  display: inline;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

nav {
  margin-left: 2%;
  position: fixed;
  width: 98%;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;
}
